# Node / Monorepo
**/node_modules/
**/dist/
**/build/
**/coverage/
**/.env
**/.env.*
**/.DS_Store
**/tmp/
**/.cache/

# Frameworks
**/.next/
**/.nuxt/
**/.vercel/
**/.turbo/
**/.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Serverless & artefacts sensibles
backend/.serverless/
serverless/output/
.secret/
.secrets/
.serverless/