node_modules/
.expo/
.expo-shared/
dist/
web-build/
build/
expo-env.d.ts

# Native artifacts
android/
ios/
.gradle/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Metro
.metro-health-check*

# Logs / debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log
*.log

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Env files (keep example)
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Lockfiles (si besoin)
package-lock.json
pnpm-lock.yaml
yarn.lock
